body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(97, 97, 97);
}
.game-container {
    border: 2px azure;
}
canvas {
    display: block;
    border: 1px solid;
    background-color: rgb(23, 44, 28);
}
button {
color: rgb(0, 0, 0);
margin-top: 20px;
font-size: 16px;
background-color: rgb(9, 255, 0);
border-radius: 5px;
border: none;
}